#cmdline_iframe {
    position: fixed !important;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    height: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
}

.TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0 !important;
    font-family: "Fira Code", monospace !important;
    background: white !important;
    border: 1px #000 solid !important;
    font-size: 9px !important;
    font-weight: 200 !important;
    padding: 0.8ex !important;
    right: 2px !important;
    bottom: 2px !important;
    z-index: 2147483646 !important; /* this is one less than the command line so that it is hidden by it */
    line-height: initial !important; /* cleanslate doesn't seem to set this correctly */
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

#Shydactyl-normal {
  border-color: green !important;
}

#Shydactyl-insert {
  border-color: yellow !important;
}

@media print {
    .TridactylStatusIndicator {
        display: none;
    }
}
